h1 {
    margin: 2rem;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 3rem;
}

i {
    font-size: 2rem; 
    color: #0d6efd; 
    cursor: pointer;
}
.description {
    margin-bottom: 1rem;
}